{% extends 'base.html.twig' %}

{% block title %}Edit Publication{% endblock %}

{% block body %}
    {% block content %}
        <h1>Edit Publication</h1>

        {{ include('publication/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_publication_index') }}">back to list</a>


    {% endblock %}
{% endblock %}
