{% extends 'base.html.twig' %}

{% block title %}Statistiques des Livraisons par Adresse{% endblock %}

{% block body %}
    <h1>Statistiques des Livraisons par Adresse</h1>

    <table>
        <tr>
            <th>Adresse de Livraison</th>
            <th>Nombre de Livraisons</th>
        </tr>
        {% for livraisonStat in livraisonStatistics %}
            <tr>
                <td>{{ livraisonStat.adresselivraison }}</td>
                <td>{{ livraisonStat.nombreLivraisons }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
