{% extends 'clientbasee.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
<br>
    <h1>Create new Produit</h1>

    {{ include('produit/ClientView/_form.html.twig') }}

    <a href="{{ path('app_produit_index' , {'id_client': id_client , 'idC': idC}) }}" class="btn btn-secondary mt-3">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>

{% endblock %}
