{% extends 'base.html.twig' %}

{% block title %}Edit Details Commande{% endblock %}

{% block body %}
    <h1>Edit Details Commande</h1>

    {{ include('detailscommande/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
