{% extends 'base.html.twig' %}

{% block title %}New Details Commande{% endblock %}

{% block body %}
    <h1>Create new Details Commande</h1>

    {{ include('detailscommande/_form.html.twig') }}

    
{% endblock %}
