<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block stylesheet %}
 <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="./styles/navbarstyle.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Overstock.com | The Best Deals </title>
  </head>
  {% endblock %}

  {% block navbar1 %}
       
    {% endblock %}
   
      
      {% block body %}
      
        {% endblock %}
         {% block script %}
<script src="./js/navbarscripting.js"> </script>
<script src="./js/home.js"></script>
{% endblock %}
  <!-- End custom js for this page-->
</body>

</html>